<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UI/common/anniu1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,330},{95,98}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu11.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,0},{95,97}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,330},{96,97}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu22.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,0},{95,98}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu3.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,97},{95,97}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu33.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,194},{95,97}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu4.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,98},{95,98}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu44.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,196},{95,98}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu5.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,291},{95,97}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu55.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,294},{95,98}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu6.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,0},{95,98}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/anniu66.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,388},{95,97}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/shenanniu11.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,98},{95,98}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/shenanniu21.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,196},{95,98}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/shenanniu31.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,0},{95,97}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/shenanniu41.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,97},{95,97}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/shenanniu5.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,294},{95,98}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/shenanniu61.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,194},{95,97}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>UI/common/xuetiao1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,477},{228,22}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,22}</string>
			</dict>
			<key>UI/common/xuetiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,425},{230,21}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,24}</string>
			</dict>
			<key>UI/common/xuetiao3.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,446},{229,19}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{250,38}</string>
			</dict>
			<key>UI/common/xuetiaobeijing.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{228,97}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,100}</string>
			</dict>
			<key>UI/common/jingshipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{178,50}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,72}</string>
			</dict>
			<key>UI/common/qitiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,499},{291,7}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{294,11}</string>
			</dict>
			<key>UI/common/heiyuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{101,102}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,136}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightui.png</string>
			<key>realTextureFileName</key>
			<string>fightui.png</string>
			<key>size</key>
			<string>{503,506}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>503</integer>
			<key>height</key>
			<integer>506</integer>
		</dict>
	</dict>
</plist>