<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UI/common/fightloseUI/lose0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,583},{393,92}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1779},{393,92}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,1800},{393,92}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,1892},{393,92}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1871},{393,92}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,1871},{393,92}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1877},{393,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,584},{393,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,584},{393,92}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1367},{393,92}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,976},{393,92}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,215},{393,92}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,229},{393,92}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightloseUI/lose0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,229},{393,92}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,100}</string>
			</dict>
			<key>UI/common/fightstartUI/start0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1866,154},{778,92}}</string>
				<key>offset</key>
				<string>{2,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1930,932},{600,92}}</string>
				<key>offset</key>
				<string>{-2,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,569},{473,92}}</string>
				<key>offset</key>
				<string>{-5,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1779},{396,92}}</string>
				<key>offset</key>
				<string>{-6,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,229},{370,92}}</string>
				<key>offset</key>
				<string>{-7,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1781,932},{379,149}}</string>
				<key>offset</key>
				<string>{-7,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,914},{370,155}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1626,539},{375,162}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,400},{370,169}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,211},{372,175}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,354},{370,185}}</string>
				<key>offset</key>
				<string>{-7,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,207},{370,193}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,154},{370,200}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,0},{370,207}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,0},{370,211}}</string>
				<key>offset</key>
				<string>{-7,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightstartUI/start0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,0},{370,215}}</string>
				<key>offset</key>
				<string>{-7,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{800,220}</string>
			</dict>
			<key>UI/common/fightwinUI/win0001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,1311},{181,213}}</string>
				<key>offset</key>
				<string>{-181,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1905,1800},{137,161}}</string>
				<key>offset</key>
				<string>{-183,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1734},{191,159}}</string>
				<key>offset</key>
				<string>{-135,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1893},{149,119}}</string>
				<key>offset</key>
				<string>{-135,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,1532},{250,156}}</string>
				<key>offset</key>
				<string>{-86,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0006.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,1779},{228,118}}</string>
				<key>offset</key>
				<string>{-99,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1958,497},{203,85}}</string>
				<key>offset</key>
				<string>{-112,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1474,539},{404,152}}</string>
				<key>offset</key>
				<string>{-11,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,943},{373,115}}</string>
				<key>offset</key>
				<string>{-27,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1958,154},{343,84}}</string>
				<key>offset</key>
				<string>{-42,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{386,229}}</string>
				<key>offset</key>
				<string>{-20,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,211},{373,173}}</string>
				<key>offset</key>
				<string>{-27,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,569},{360,120}}</string>
				<key>offset</key>
				<string>{-33,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,0},{486,154}}</string>
				<key>offset</key>
				<string>{30,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,569},{462,116}}</string>
				<key>offset</key>
				<string>{18,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,929},{438,98}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0017.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1779},{414,98}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,1702},{416,98}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1525,943},{418,98}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,1316},{418,98}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0021.png</key>
			<dict>
				<key>frame</key>
				<string>{{1623,1284},{418,98}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
			<key>UI/common/fightwinUI/win0022.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,1361},{418,98}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{550,270}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistfightUI.png</string>
			<key>realTextureFileName</key>
			<string>PlistfightUI.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>